body {
    margin: 0;
}

#header {
    border-style: solid;
    border-width: 1px;
    border-color: #aacc55;
}

#header-top {
    height: 47px;
    background-color: #006633;

}

#header-bottom {
    height: 20px;
    background-color: #eaf1d1;
    border-top: solid;
    border-top-width: 3px;
    border-top-color: black;
}

#content-wrapper {
    width: 960px;
    margin: auto;
}

#navBar {
	display: table;
	width: 100%;	
	padding: 0;
	margin-top: 5px;
	border-bottom: 2px solid;
	border-left: 1px solid;
}

#navBar li {
	display: table-cell;
	height: 30px;
	width: 14.3%;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	border-right: 1px solid;
}
 
#navBar a:link {
	color: black;
	text-decoration: none;
	font-size: 20px;
}
#navBar a:visited {
	color: black;
	text-decoration: none;
	font-size: 20px;
}
#navBar a:hover {
	color: black;
	text-decoration: none;
	font-size: 20px;
}
#navBar a:active {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

#navBar li:hover {
	background-color: #eeeeee;
}

#loginDiv {
    width: 400px;
    margin: auto;
}

#loginDiv h2 {
    text-align: center;
}

#loginDiv p {
    display: inline;
}

#loginDiv div {
    margin: 5px;
}

#loginDiv div input {
    float: right;
}

#table {
	table-layout: fixed;
}

#accountInfoDiv {
	border: solid black 2px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#accountInfoDiv h2 {
	text-align: center;
}

#accountInfoDivUser {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}