#header-bottom {
    height: 20px;
    background-color: #eaf1d1;
    border-top: solid;
    border-top-width: 3px;
    border-top-color: black;
}

.centered-box {
    width: 450px;
    margin: auto;
}

.centered-box p {
    text-align: justify;
}

.navbar-default {
    background-color: #006633;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #FFFFFF;
}

.nav > li:hover{
    background-color: #00AB55;
}

h2 {
    text-align: center;
    color: #006633;
}

.cat-list {
    padding-left: 4px;
    margin: 4px;
}
